<html>
    <%- partial('_partial/head') %>
    <body>
        <div class="root">
            <%- partial('_partial/topnavs') %>
                <section class="container mainbody fixed-690">
                    <%- body %>
                </section>
                <%- partial('_partial/footer') %>
        </div>
        <%- partial('_partial/foot') %>
    </body>
</html>