<div class="catalogue">
    <% var sorted_year = Object.keys(chapters).sort().reverse();
       for (var i = 0; i < sorted_year.length; i++){ %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%- type %></li>
            <li class="breadcrumb-item active">
                <span>
                    <%- sorted_year[i] %>
                </span>
            </li>
        </ol>
        <ul class="list-group catalogue-chapters">
            <% orderEach(chapters[sorted_year[i]].reverse(), function(item) { %>
                <li class="list-group-item catalogue-chapter-item">
                    <a href="<%- url_for(item.path) %>">
                        <span>
                            <%- item.title %>
                        </span>
                    </a>
                    <span class="catalogue-chapter-item-date">
                        <%- item.date %>
                    </span>
                </li>
                <% }) %>
        </ul>
        <% } %>
</div>