<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<%
		var title = page.title;
	%>

	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<%- favicon_tag('favicon.ico') %>	
	<%- css('css/bootstrap.min.css') %>
	<%- css('css/caomei.css') %>
	<%- css('css/style.css') %>
	<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>
